:root{
  --text-color: #FFF;
  --text-weight: 400;
  --text-size: 30px;
  --small-text-size: 20px;
  --h1-size: 60px;
  --h2-size: 40px;

  --blur-value: 20px;
  --bg-value: rgba(0, 0, 0, 0.2);

  --input-size: 32px;
  
  --input-border-hover: 2px solid var(--text-color);
  --input-border-focus: ;
  --input-bg: rgba(119, 119, 119, 0);
  --input-placeholder-color: #818181;
}

html.dawn{
  --text-color: #E8E8E8;
  /* --bg-color:; */

  --input-placeholder-color: rgba(232, 232, 232, 0.5);
  --input-border: 2px solid var(--input-placeholder-color);
}

html.day{
  --text-color: #FFF;

  --input-placeholder-color: rgba(255, 255, 255, 0.5);
  --input-border: 2px solid var(--input-placeholder-color);

}

html.sunset{
  --text-color: rgb(255, 207, 211);

  --input-placeholder-color: rgba(255, 207, 211, 0.5);
  --input-border: 2px solid var(--input-placeholder-color);
  

}

html.night{
  --text-color: rgb(207, 229, 255);

  --input-placeholder-color: rgba(207, 229, 255, 0.5);
  --input-border: 2px solid var(--input-placeholder-color);

}

*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  margin: 0;

  font-weight: 400;
  line-height: 73px;
  font-size: var(--h1-size);
}
h2{
  margin: 0;
  
  font-weight: 400;
  font-size: var(--h2-size);
  line-height: 48px;

}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container{
  height: 100%;

  padding-left: 1.5%;
  padding-right: 1.5%;

  background: var(--bg-value);
  backdrop-filter: blur(var(--blur-value));
}
@media (max-width: 950px) {
  :root{
    --h1-size: 40px;
    --h2-size: 25px;
  }
}
@media (max-width: 768px) {
  :root{
    --h1-size: 39px;
    --h2-size: 30px;
  }
  h1{
    line-height: 48px;
  }
  h2{
    line-height: 30px;
  }
}
@media (max-width: 550px) {
  :root{
    --small-text-size: 12px;
  }
}